# Entorno virtual de Python
venv/
*.pyc

# Caché de Python
__pycache__/

# Archivos de variables de entorno
.env

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Carpeta .streamlit (para secretos locales)
.streamlit/